/* ============== */
/* = Typography = */
/* ============== */

.amp, .highlight {
    font-size:1.05em;
    font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif; 
    font-style:italic;
    font-weight: bold;
}
.amp {
    color: #A0A0A0;
}
.highlight-title {
    font-weight: normal;
}    
.dquo {margin-left:-.38em;}

/* ========== */
/* = Global = */
/* ========== */

body, ul {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #202020;
    color: #E6E6E6;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto 5em;
    overflow: hidden;
}

.content {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* ========== */
/* = Header = */
/* ========== */

.splash-header {
    margin: 64px 0;
    font-size: 24px;
}

.splash-big {
    font-size: 28px;
    display: inline;
    font-weight: bold;
}
.splash-small {
    font-size: 16px;
    color: #A0A0A0;
    display: inline;
    font-weight: normal;
    text-shadow: 0px 1px 1px #333;
    margin-left: 8px;
}

/* ========= */
/* = Links = */
/* ========= */

.photosets .photoset-info a,
.photoset-detail .photoset-info a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 48px 0 0 0;
}

.photosets .photoset-info a:hover,
.photoset-info a:hover,
.photoset.hover .photoset-info .photoset-title a {
    color: #D44619;
    text-decoration: none;
}

/* ================== */
/* = Photoset Posts = */
/* ================== */

.photoset {
    clear: both;
    overflow: hidden;
    margin: 0 auto 48px;
    position: relative;
}

#splash .callout {
    margin: 0 0 48px 0;
    font-weight: bold;
}

.photoset-borough {
    color: #232323;
    font-size: 92px;
    font-weight: bold;
    right: -5px;
    line-height: 76px;
    position: absolute;
    top: 0;
    z-index: 1;
}

/* Photoset Info */

.photoset-info {
    padding: 0 0 4px 0;
    margin: 48px 0 18px;
    border-bottom: 1px solid #606060;
    z-index: 2;
    position: relative;
}

.photoset-info .photoset-title {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.photoset-info .photoset-subtitle {
    font-size: 14px;
    color: #A0A0A0; 
    display: inline;
    margin-left: 8px;
}

.photoset-info .photoset-count {
    color: #404040;
    float: right;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    z-index: 2;
}

.photoset-info .photoset-count-number {
    font-weight: bold;
}


/* Photoset Photos */

.photo-thumbs {
    line-height: 0px;
    overflow: hidden;
    margin-left: 24px;
    position: relative;
    float: left;
    z-index: 2;
}

.photo-thumbs img {
    line-height: 0px;
    float: left;
    padding: 0 6px 6px 0;
    margin: 0;
    width: 75px;
    height: 75px;
}

.photo-thumbs img.first {
    clear: left;
}
.photo-thumbs img.last {
    padding-right: 0px;
}


/* Photoset Map */

.photosets .photoset-map-container {
    float: left;
    margin-left: 24px;
}

.photosets .photoset-map {
    width: 428px;
    height: 237px;
    background-color: #202020 !important;
}

/* =================== */
/* = Photoset Detail = */
/* =================== */

.photoset-detail {
    
}

.photoset-detail .photoset-photos .photo-detail {
    margin: 24px auto 48px auto;
}

.photoset-detail .photoset-photos .photo-detail img {
    width: 798px;
    border: 1px solid #000;
    min-height: 200px;
}

.photoset-detail .photoset-photos .photo-detail .photo-detail-description {
    margin: 8px 0 0 0;
    font-size: 17px;
    color: #B0B0B0;
}

.photoset-detail .photoset-photos .photo-detail .photo-detail-exif {
    margin: 2px 0 0 0;
    font-size: 10px;
    color: #808080;
    float: right;
    text-decoration: none;
    visibility: hidden;
}

.photoset-detail .photoset-photos .photo-detail:hover .photo-detail-exif {
    visibility: visible;
}

.photoset-detail .photoset-photos .photo-detail .photo-detail-exif b {
    font-weight: normal;
}
.photoset-detail .photoset-photos .photo-detail .photo-detail-exif:hover {
    color: #B0B0B0;
}

.photoset-detail .photoset-photos .photo-detail .photo-detail-date {
    clear: both;
    float: left;
    color: #808080;
    margin: 2px 0 0 0;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.photoset-detail .photoset-photos .photo-detail .photo-detail-date:hover {
    color: #B0B0B0;
}

/* Photoset Map */

.photoset-detail .photoset-map-container {
    float: left;
}

.photoset-detail .photoset-map {
    width: 798px;
    height: 298px;
    border: 1px solid #000;
    background-color: #202020 !important;
}

/* ============ */
/* = Callouts = */
/* ============ */

.callout {
    margin: 48px 0;
    padding: 24px 0;
    overflow: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: #E0E0E0;
    color: #202020;
    font-family: Baskerville, Garamond, Georgia, serif;
    position: relative;
}

.callout .callout-date {
    float: right;
    font-weight: normal;
    color: #C0C0C0;
    font-size: 24px;
    text-transform: uppercase;
}

.callout .callout-date .nth {
    font-size: 12px;
    text-decoration: underline;
    vertical-align: super;
}

.callout .callout-content {
    font-size: 32px;
    line-height: 40px;
    color: #707070;
}

.callout .callout-image {
    float: right;
    margin: 0 0 0 6px;
}

.callout .callout-image img {
    border: 1px solid #000;
}

/* ========== */
/* = Footer = */
/* ========== */

#footer {
    margin: 64px auto;
    font-size: 24px;
    padding: 12px 0 4px 0;
    border-top: 1px solid #606060;
}

.footer-post {
    width: 366px;
    float: left;
    margin: 24px 0;
    clear: none;
}

.footer-post.last {
    margin-right: 0px;
    float: right;
}    

.footer-post .footer-post-subtitle {
    color:#96AAC0;
    font-size:22px;
    margin-bottom:24px;
    margin-top:48px;
}

.footer-post .photo-thumbs {
    margin-right: 24px;
}