{% load compressed typogrify %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta http-equiv="imagetoolbar" content="no" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/all/" /> 
  {% block meta %}{% endblock %}
  <title>{% block title %}New York Field Guide - Historic Districts of New York City{% endblock %}</title>
  <link rel="icon" href="{{ MEDIA_URL }}images/favicon.ico" />
  {% compressed_css 'global' %}
  {% compressed_js 'common' %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAALPrVZ2XoxUkCpRj5Bx5pQhSpVo_X8WafOyOBej8hr_9Y8RYTuRR4F5aWTAPtDTsWBEr1CmPTdcA2iA" type="text/javascript"></script>
  {# <!--[if IE]>{% compressed_css 'ie_only' %}<![endif]--> #}
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header" class="content">
    <div class="splash-header">
      <h1 class="splash-big"><a href="{% url index %}">New York <span class="highlight highlight-title">Field Guide</span></a></h1>
      <h3 class="splash-small">Historic Districts <span class="highlight highlight-title">of</span> New York City</h3>  
    </div>
  </div>

  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  
  <div id="footer" class="content">
    <div class="footer-info">
      <b><a href="{% url index %}">New York <span class="highlight highlight-title">Field Guide</span></a></b> is curated and researched by <b><a href="http://www.samuelclay.com">Samuel Clay</a></b>.
    </div>
    <div class="footer-post photoset">
      {% block footer_post_borough %}{% endblock footer_post_borough %}
    </div>
    <div class="footer-post photoset last">
      {% block footer_post_elsewhere %}{% endblock footer_post_elsewhere %}
    </div>
  </div>
  
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8371683-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>