{% extends 'base.html' %}
{% load compressed typogrify post_tags %}

{% block content %}

{% filter typogrify %}
  <div id="splash">
    
    <div class="content">
      <div class="splash-header">
        <h1 class="splash-big"><a href="{% url index %}">New York <span class="highlight highlight-title">Field Guide</span></a></h1>
        <h3 class="splash-small">Historic Districts <span class="highlight highlight-title">of</span> New York City</h3>  
      </div>
    </div>
    
    <ul class="posts photosets">
      {% for post in posts %}
        <li class="photoset content">
          
          <div class="photoset-info">
            <div class="photoset-title">
              {% filter highlight:'Historic District' %}
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              {% endfilter %}
            </div>
            <div class="photoset-subtitle">{{ post.subtitle }}</div>
            <div class="photoset-count"><span class="photoset-count-number">{{ post.photo_set.photos.count }}</span> photos</div>
          </div>
          
          
          <div class="photoset-photos">
          {% for photo in post.photo_set.photos.all|slice:"0:12" %}
            <img src="{{ photo.get_square_url }}" {% if forloop.counter0|divisibleby:"4" %}class="first"{% endif %} />
          {% endfor %}  
          </div>
          
          <div class="photoset-map-container">
            <script>
            $(document).ready(function() {
                  var map = new GMap2(document.getElementById("map_canvas_{{ forloop.counter }}")); 
                  var geoXml = new GGeoXml("http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&output=nl&msid=116208418513892880794.000480206e4027e04ae53");
                  map.addControl(new GSmallZoomControl3D());
                  map.setMapType(G_PHYSICAL_MAP);
                  map.setCenter(new GLatLng({{ post.coordinates }}), {{ post.zoom }}); 
                  map.addOverlay(geoXml);
            });
            </script>
            <div id="map_canvas_{{ forloop.counter }}" class="photoset-map"></div>
          </div>
          
        </li>
      {% endfor %}
    </ul>
  
  </div>

{% endfilter %}

{% endblock content %}