{% extends 'base.html' %}
{% load compressed typogrify post_tags %}

{% block title %}{{ post.title }} - New York Field Guide{% endblock title %}

{% block content %}

{% filter typogrify %}
  <div class="photoset-detail">

    <div class="content">
      <div class="photoset-borough">{{ post.get_borough_display }}</div>
      {% photoset_info post %}
    </div>
    
    <ul class="photoset-photos">
    {% for photo in photos %}

      {% with forloop.counter as photo_order %}
      {% for callout in callouts %}{% ifequal callout.order photo_order %}
        <li class="callout">
          
          <div class="callout-content content">
            {% if callout.detail_image_url %}
              <div class="callout-image"><img src="{{ callout.detail_image_url}}" /></div>
            {% endif %}
            {% if callout.date %}
              <div class="callout-date">{{ callout.date|date:"F d"}}<span class="nth">{{ callout.date|date:"S" }}</span>, {{ callout.date|date:"Y" }}</div>
            {% endif %}
            <div class="callout-content">
              {{ callout.content|safe }}
            </div>
            {% if callout.link %}
              <div class="callout-link"><a href="{{ callout.link }}">{{ callout.link }}</a></div>
            {% endif %}
            {% if callout.quote_speaker %}
              <div class="callout-quote-speaker">{{ callout.quote_speaker }}</div>
            {% endif %}
          </div>
          
        </li>
      {% endifequal %}{% endfor %}
      {% endwith %}
      
      <li class="photo-detail content">
        <img src="{{ photo.get_large_url }}" />
      </li>
      
    {% endfor %}  
    </ul>
    
    <div class="content">
      <div class="photoset-map-container">
        <script>
        $(document).ready(function() {
              var map = new GMap2(document.getElementById("map_canvas_{{ forloop.counter }}")); 
              var geoXml = new GGeoXml("http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&output=nl&msid=116208418513892880794.000480206e4027e04ae53");
              map.addControl(new GSmallZoomControl3D());
              map.setMapType(G_PHYSICAL_MAP);
              map.setCenter(new GLatLng({{ post.coordinates }}), {{ post.zoom }}); 
              map.addOverlay(geoXml);
        });
        </script>
        <div id="map_canvas_{{ forloop.counter }}" class="photoset-map"></div>
      </div>
    </div>
    
  
  </div>

{% endfilter %}

{% endblock content %}

{% block footer_post_borough %}
  {% if footer_post_borough %}
    <div class="footer-post-subtitle">Elsewhere in {{ footer_post_borough.get_borough_display }}...</div>
    {% photoset_info footer_post_borough 1 %}
    <div class="footer-photos photo-thumbs">
      {% photo_thumbs footer_post_borough 4 8 %}
    </div>
  {% endif %}
{% endblock footer_post_borough %}

{% block footer_post_elsewhere %}
  {% if footer_post_elsewhere %}
    <div class="footer-post-subtitle">Elsewhere in New York City...</div>
    {% photoset_info footer_post_elsewhere 1 %}
    <div class="footer-photos photo-thumbs">
      {% photo_thumbs footer_post_elsewhere 4 8 %}
    </div>
  {% endif %}
{% endblock footer_post_elsewhere %}
