{% extends 'base.html' %}
{% load compressed typogrify post_tags %}

{% block content %}

{% filter typogrify %}
  <div class="photoset-detail">
    
    <div class="content">
      <div class="splash-header">
        <h1 class="splash-big"><a href="{% url index %}">New York <span class="highlight highlight-title">Field Guide</span></a></h1>
        <h3 class="splash-small">Historic Districts <span class="highlight highlight-title">of</span> New York City</h3>  
      </div>
    </div>

    <div class="content">
      <div class="photoset-info">
        <div class="photoset-title">
          {% filter highlight:'Historic District' %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          {% endfilter %}
        </div>
        <div class="photoset-subtitle">{{ post.subtitle }}</div>
        <div class="photoset-count"><span class="photoset-count-number">{{ post.photo_set.photos.count }}</span> photos</div>
      </div>
    </div>
    
    <ul class="photoset-photos">
    {% for photo in post.photo_set.photos.all %}

      {% with forloop.counter as photo_order %}
      {% for callout in callouts %}{% ifequal callout.order photo_order %}
        <li class="callout">
          
          <div class="callout-content content">
            {% if callout.detail_image_url %}
              <div class="callout-image"><img src="{{ callout.detail_image_url}}" /></div>
            {% endif %}
            <div class="callout-content">
              {{ callout.content|safe }}
            </div>
            {% if callout.link %}
              <div class="callout-link"><a href="{{ callout.link }}">{{ callout.link }}</a></div>
            {% endif %}
            {% if callout.quote_speaker %}
              <div class="callout-quote-speaker">{{ callout.quote_speaker }}</div>
            {% endif %}
          </div>
          
        </li>
      {% endifequal %}{% endfor %}
      {% endwith %}
      
      <li class="photo-detail content">
        <img src="{{ photo.get_large_url }}" />
      </li>
      
    {% endfor %}  
    </ul>
    
    <div class="content">
      <div class="photoset-map-container">
        <script>
        $(document).ready(function() {
              var map = new GMap2(document.getElementById("map_canvas_{{ forloop.counter }}")); 
              var geoXml = new GGeoXml("http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&output=nl&msid=116208418513892880794.000480206e4027e04ae53");
              map.addControl(new GSmallZoomControl3D());
              map.setMapType(G_PHYSICAL_MAP);
              map.setCenter(new GLatLng({{ post.coordinates }}), {{ post.zoom }}); 
              map.addOverlay(geoXml);
        });
        </script>
        <div id="map_canvas_{{ forloop.counter }}" class="photoset-map"></div>
      </div>
    </div>
    
  
  </div>

{% endfilter %}

{% endblock content %}